h1, h2, h3, a, p, span, button {
    font-family: "Playfair Display", serif;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 100;
}

.wrapper {
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}