// HOME PAGE STYLES
.home-menu-container {
    position: absolute;
    top: 30dvh;
    width: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    z-index: 10;
}

.home-menu-container nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.home-menu-container nav li {
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: white;
}

// body {
//     background-image: url("/assets/FA Painting 2024.jpg");
//     background-repeat: repeat;
//     background-position: center; 
//     background-size: auto;
// }